In [ ]:
import pandas as pd

pd_s = pd.Series([73, 42, 56, 27, 88, 12, 65, 5, 34, 99, 17, 49, 68, 21, 7])

pd_s.size
pd_s.ndim
pd_s.values
type(pd_s.values)

pd_s.head(8)
pd_s.tail()

10    17
11    49
12    68
13    21
14     7
dtype: int64

In [ ]:
df = pd.read_csv("")

Dataframe Hakkında Bilgi Edinme

In [ ]:
import seaborn as sns

df = sns.load_dataset("titanic")
sns.get_dataset_names()

df.head()
df.tail()
#print(df.shape)
#df.info()
df.columns
df.index
df.describe().T
df.isnull().values.any()
#print(df.isnull().sum())
df["pclass"]
df["sex"].head()
df["sex"].value_counts()

male      577
female    314
Name: sex, dtype: int64

Değerlere Erişmek

In [ ]:
df.index
#print(df[0:13])

"fare" in df
df["fare"].head()
df.fare.head()
type(df["fare"])


#df[["fare"]].head()
type(df[["fare"]])

df[["fare", "alive"]]

        fare alive
0     7.2500    no
1    71.2833   yes
2     7.9250   yes
3    53.1000   yes
4     8.0500    no
..       ...   ...
886  13.0000    no
887  30.0000   yes
888  23.4500    no
889  30.0000   yes
890   7.7500    no

[891 rows x 2 columns]

Değişkenler Üzerinde İşlemler

In [ ]:
df["age2"] = df["age"]**2
df.head()
df.drop("age2", axis=1, inplace=True)
df.head()
df.drop(0, axis=0)

delete_indexes = [1,3,5,7]
df.drop(delete_indexes, axis=0)
df.head()

KeyError: ignored

In [ ]:
#-count()
#-mean()
#-median()
#-min()
#-max()
#-std()
#-var()
#-sum()

df["age"].count()

df.groupby("sex")["age"].mean()
df.groupby("sex").agg({"age": ["mean"]})
df.groupby("sex").agg({"age": ["mean", "sum"]})

df.groupby("sex").agg({"age": ["mean", "sum"], "survived": ["mean"]})

#df.groupby(["sex", "embark_town"]).agg({"age": ["mean"], "survived": ["mean"]})

#df.groupby(["sex", "embark_town", "class"]).agg({"age": ["mean"], "survived": ["mean"]})

              age            survived
             mean       sum      mean
sex
female  27.915709   7286.00  0.742038
male    30.726645  13919.17  0.188908




*   iloc (indexe göre seçim işlemi)
*   loc (labela göre seçim işlemi)

> Girintili blok

In [ ]:
print(df.head())
print("-------------------------------------")
print(df.iloc[1:3, 0:5])
print("-------------------------------------")
print(df.iloc[0, 1])

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
-------------------------------------
   survived  pclass     sex   age  sibsp
1         1       1  female  38.0      1
2         1       3  female  26.0      0
-------------------------------------
3

In [ ]:
df.loc[0, "survived"]

df.loc[0:3, "age"]
df.loc[0:3, "age":"fare"]
df.loc[0:3, ["age"]]
type(df.loc[0:3, "age"])
type(df.loc[0:3, ["age"]])

col_names = ["age", "embarked", "alive"]
df.loc[0:3, col_names]

    age embarked alive
0  22.0        S    no
1  38.0        C   yes
2  26.0        S   yes
3  35.0        S   yes

Pivot Table

In [ ]:
df.head()
df.pivot_table("survived", "sex", "embarked")
df.pivot_table("survived", "sex", "embarked", aggfunc=["std", "mean"])
df.pivot_table("survived", "sex", ["embarked", "class"])


df.pivot_table("survived", "sex", ["fare", "class"])

fare   0.0000                4.0125   5.0000   6.2375   6.4375   6.4500    \
class     First Second Third    Third    First    Third    Third    Third
sex
female      NaN    NaN   NaN      NaN      NaN      NaN      NaN      NaN
male        0.0    0.0  0.25      0.0      0.0      0.0      0.0      0.0

fare   6.4958   6.7500    ... 153.4625 164.8667 211.3375 211.5000 221.7792  \
class     Third    Third  ...    First    First    First    First    First
sex                       ...
female      NaN      0.0  ...      1.0      1.0      1.0      NaN      NaN
male        0.0      0.0  ...      0.0      NaN      NaN      0.0      0.0

fare   227.5250 247.5208 262.3750 263.0000 512.3292
class     First    First    First    First    First
sex
female      1.0      1.0      1.0      1.0      1.0
male        0.0      0.0      NaN      0.0      1.0

[2 rows x 255 columns]

Koşullu Seçim İşlemleri

In [ ]:
df[df["age"] > 50].head()
df[df["age"] > 50]["age"].count()

df.loc[(df["age"] > 50) & (df["survived"] == 1), ["age", "survived"]]
df.loc[df["age"] < 50, ["age", "survived"]].head()
df.loc[(df["age"] > 50) & (df["sex"] == "male") & (df["survived"] == 1), ["age", "class", "survived"]].head()

df.loc[(df["age"] > 50)
       & (df["sex"] == "male")
       & ((df["embark_town"] == "Cherbourg") | (df["embark_town"] == "Southampton")),
        ["age", "class", "embark_town"]].head()

df[(df["age"] % 1 != 0) & (df["age"].isnull() == False)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,no,False
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,NaN,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,E,Southampton,yes,True
148,0,2,male,36.50,0,2,26.0000,S,Second,man,True,F,Southampton,no,False
152,0,3,male,55.50,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,Third,man,True,NaN,Southampton,no,False
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
227,0,3,male,20.50,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
296,0,3,male,23.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
305,1,1,male,0.92,1,2,151.5500,S,First,child,False,C,Southampton,yes,False
331,0,1,male,45.50,0,0,28.5000,S,First,man,True,C,Southampton,no,True
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
525,0,3,male,40.50,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
676,0,3,male,24.50,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
735,0,3,male,28.50,0,0,16.1000,S,Third,man,True,NaN,Southampton,no,True
755,1,2,male,0.67,1,1,14.5000,S,Second,child,False,NaN,Southampton,yes,False
767,0,3,female,30.50,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
803,1,3,male,0.42,0,1,8.5167,C,Third,child,False,NaN,Cherbourg,yes,False
814,0,3,male,30.50,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
831,1,2,male,0.83,1,1,18.7500,S,Second,child,False,NaN,Southampton,yes,False
843,0,3,male,34.50,0,0,6.4375,C,Third,man,True,NaN,Cherbourg,no,True